<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nguyễn Ánh Dương</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- link icon gg fonts -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <div class="container">
        <div class="sub-left"></div>
        <div class="lef">
            <div class="logo">
                <img src="https://demo.dashboardpack.com/user-management-html/img/logo.png" alt="">
            </div>
            <ul class="sidebar">
                <li class="item">
                    <div>
                        <span class="material-symbols-outlined">
                            home
                        </span>
                        <a href="">Home</a>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <span class="material-symbols-outlined">
                            home
                        </span>
                        <a href="">Product</a>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <span class="material-symbols-outlined">
                            home
                        </span>
                        <a href="">Categories</a>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <span class="material-symbols-outlined">
                            home
                        </span>
                        <a href="">User</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="rigth">
            <div class="header">
                <form action="" class="search-header">
                    <input type="search" name="" id="" placeholder="Search">
                    <button type="button">
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </button>
                </form>
                <div class="user">
                    <img src="http://genk.mediacdn.vn/k:thumb_w/640/2015/screen-shot-2015-07-30-at-2-31-57-pm-1438334096188/cau-chuyen-ve-nguoi-tao-ra-chu-ech-xanh-than-thanh.png"
                        alt="">
                    <ul class="popup">
                        <li><a href="">Nguyễn Ánh Dương</a></li>
                        <li><a href="">Profile</a></li>
                        <li><a href="">Log out</a></li>
                    </ul>
                </div>
            </div>
            <p class="title">Product list</p>
            <div class="main">
                <div class="action-product">
                    <div class="btn-action">
                        <a href="">Add new product</a>
                        <a href="">Select all</a>
                        <a href="">Delete</a>
                    </div>


                    <div class="tabel-form">
                        <span class="material-symbols-outlined">
                            search
                        </span>
                        <input type="search" placeholder="Search" name="search-table" id="">
                    </div>
                </div>
                <table class="table-main">
                    <tr>
                        <th>Select</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Info</th>
                        <th>Action</th>

                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Thịt gà</td>
                        <td><img src="http://genk.mediacdn.vn/k:thumb_w/640/2015/screen-shot-2015-07-30-at-2-31-57-pm-1438334096188/cau-chuyen-ve-nguoi-tao-ra-chu-ech-xanh-than-thanh.png"
                                alt=""></td>
                        <td><span>20</span>$</td>
                        <td>
                            <a href="">
                                <span class="material-symbols-outlined">
                                    visibility
                                </span>
                            </a>
                        </td>
                        <td>
                            <a href="">
                                <span class="material-symbols-outlined">
                                    rate_review
                                </span>
                            </a>
                            <a href="">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
                <ul class="pagination">
                    <li class="item-pagination">1</li>
                    <li class="item-pagination">2</li>
                    <li class="item-pagination">3</li>
                    <li class="item-pagination active">4</li>
                    <li class="item-pagination">5</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>