body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(45deg, #141e30 50%, #243b55 50%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 840px;
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.signup {
    float: left;
    width: 300px;
    padding: 30px 20px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

[type=email],
[type=number],
[type=password],
[type=text] {
    display: block;
    margin: 0 auto;
    width: 80%;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

[type=submit] {
    margin-top: 25px;
    width: 80%;
    border: 0;
    background-color: #53CACE;
    border-radius: 5px;
    height: 50px;
    color: white;
    font-weight: 400;
    font-size: 1em;
}

[type=email]:focus,
[type=number]:focus,
[type=password]:focus,
[type='text']:focus {
    outline: none;
    border-color: #53CACE;
}


.box-img{
    border: 1px solid rgba(0, 0, 0, .2);
    width: 80px;
    height: 80px;
    border-radius: 5px;
    overflow: hidden;
    margin:15px 28px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


label>span>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#img {
    position: absolute;
    z-index: -1;
    width: 0px;
    opacity: 0;
}